In [29]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn import datasets
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

In [12]:
df = pd.read_csv('titanic1.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [13]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [14]:
target = df['Survived']
inputs = df.drop('Survived', axis=1)
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [15]:
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [16]:
dummies = pd.get_dummies(df['Sex'], dtype=int, prefix='Sex')
dummies.head()

   Sex_female  Sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1

In [17]:
inputs = pd.concat([inputs, dummies], axis=1)
inputs.drop('Sex', axis=1, inplace=True)
inputs.head()

   Pclass   Age     Fare  Sex_female  Sex_male
0       3  22.0   7.2500           0         1
1       1  38.0  71.2833           1         0
2       3  26.0   7.9250           1         0
3       1  35.0  53.1000           1         0
4       3  35.0   8.0500           0         1

In [18]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [19]:
inputs['Age'][:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [21]:
average_age = round(inputs['Age'].mean(), 1)
median_age = inputs['Age'].median()
print(f"Average age: {average_age}")
print(f"Median age: {median_age}")

Average age: 29.7
Median age: 28.0

In [22]:
inputs['Age'] = inputs['Age'].fillna(average_age)
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [23]:
inputs['Age'][:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5    29.7
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [24]:
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2, random_state=10)

In [25]:
len(X_train)

712

In [26]:
len(X_test)

179

In [27]:
len(inputs)

891

In [28]:
len(X_train) / len(inputs)

0.7991021324354658

In [30]:
model = GaussianNB()

In [31]:
model.fit(X_train, y_train)

GaussianNB()

In [32]:
model.score(X_test, y_test)

0.8268156424581006

In [33]:
X_test[:10]

     Pclass   Age      Fare  Sex_female  Sex_male
590       3  35.0    7.1250           0         1
131       3  20.0    7.0500           0         1
628       3  26.0    7.8958           0         1
195       1  58.0  146.5208           1         0
230       1  35.0   83.4750           1         0
646       3  19.0    7.8958           0         1
75        3  25.0    7.6500           0         1
586       2  47.0   15.0000           0         1
569       3  32.0    7.8542           0         1
287       3  22.0    7.8958           0         1

In [34]:
y_test[:10]

590    0
131    0
628    0
195    1
230    1
646    0
75     0
586    0
569    1
287    0
Name: Survived, dtype: int64

In [35]:
model.predict(X_test[:10])

array([0, 0, 0, 1, 1, 0, 0, 0, 0, 0], dtype=int64)

In [37]:
model.predict_proba(X_test[:10])

array([[9.88386387e-01, 1.16136135e-02],
       [9.86517737e-01, 1.34822634e-02],
       [9.87819328e-01, 1.21806724e-02],
       [1.69368493e-05, 9.99983063e-01],
       [2.50381148e-03, 9.97496189e-01],
       [9.86311424e-01, 1.36885756e-02],
       [9.87645401e-01, 1.23545990e-02],
       [9.73960690e-01, 2.60393096e-02],
       [9.88379299e-01, 1.16207006e-02],
       [9.87084254e-01, 1.29157464e-02]])